/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    background-color: #5f9fa0;
    color: #ffffff;
    margin: 10px;
    padding: 20px;
    border: 20px white;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(44, 49, 49);
    height: 50px;
}

.nav-title{
    color: white;
    font-family: cursive;
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: cursive;
    color: white;
}
ul.nav-links li{
    padding-right: 15px;
}

ul.nav-links li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.707);
    font-weight: lighter;
}

ul.nav-links li a.active{
    font-weight: bold;
    color: white;
}

.img-border {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    border: 2px solid white;
    outline: 2px solid gray;
}